[package]
name = "ndc-client"
version = "0.1.0"
description = "Protocol definitions and client library for the Hasura NDC specification"
edition = "2021"

[[bin]]
name = "ndc-test"
path = "bin/test/main.rs"

[dependencies]
serde = "^1.0"
serde_derive = "^1.0"
serde_with = "^2.0"
serde_json = "^1.0"
url = "^2.2"
uuid = { version = "^1.0", features = ["serde"] }
opentelemetry = "0.18.0"
opentelemetry_sdk = "0.18.0"
async-trait = "0.1.67"
schemars = { version = "0.8.12", features = ["smol_str"] }
clap = { version = "4", features = ["derive"] }
tokio = { version = "1.26.0", features = [
    "macros",
    "rt-multi-thread",
    "parking_lot",
] }
indexmap = "1"

[dependencies.reqwest]
version = "^0.11"
features = ["json", "multipart"]

[dev-dependencies]
goldenfile = "1.4.5"