name: file sync

on:
  push:
    branches:
      - main
    paths:
      - ndc-client/tests/json_schema/schema_response.jsonschema

jobs:
  file_sync:
    name: sync files with v3-console
    runs_on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: ndc-spec
      - uses: actions/checkout@v3
        with:
          repository: hasura/v3-console
          path: v3-console
          token: ${{ secrets.GITHUB_BOT_TOKEN }}
      - name: compare file hases
        id: compare
        run: |
          ndc_spec_file="ndc_spec/ndc-client/tests/json_schema/schema_response.jsonschema"
          v3_console_file="v3-console/libs/shared/utils/ndc-types/src/schemaResponse.json"
          ndc_spec_hash=$(jq -rM '.' "${ndc_spec_file}" | md5sum | awk '{print $1}')
          v3_console_hash=$(jq -rM '.' "${v3_console_file}" | md5sum | awk '{print $1}')
          if [ "${ndc_spec_hash}" != "${v3_console_hash}" ]; then
            cp "${ndc_spec_file}" "${v3_console_file}"
            echo "create_pr=true" >> "${GITHUB_OUTPUT}"
            echo "ndc_spec_hash=${ndc_spec_hash}" >> "${GITHUB_OUTPUT}"
          fi
      - name: create pull request
        if: ${{ steps.compare.outputs.create_pr == 'true' }}
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          path: v3-console
          token: ${{ secrets.GITHUB_BOT_TOKEN }}
          author: hasura-bot <build@hasura.io>
          commit-message: sync response schema with ndc-spec
          branch: sync/ndc-spec-response-schema-${{ steps.compare.outputs.ndc_spec_hash }}
          base: main
          title: sync response schema with ndc-spec
